extends layout
//- var chartData=[]
- var countData=0
- var usingJade=true
block content
    h1= title
    hr
    p
        a(class='button', href='/') Назад
        br
        a(class='button', href='#kw') Вниз
    //p   Text
    p   #{text1}
    //p   TokenizedText (tokens: #{tokenText1.length})
    //p   #{tokenText1.join(", ")}
    br
    a(name='kw')
    p KEYWORDS (#{pKeysOrigAndFreq.length})
    table
        tr
            td(style='width: 80%;')
                each item in pKeysOrigAndFreq
                    li#myLi= item[0]
                    //+ ' (' + item[1] + ')'
            td
                div(class="chart")


    script.
        var data = #{JSON.stringify(chartData)}
        d3.select(".chart")
            .selectAll("div")
                .data(data)
            .enter().append("div")
                .style("width", function(d){
                    return d*10+"px";})
                .text(function(d){return d;});